@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Satisfy&display=swap');

/* .h2, h2 {
    color: #798da3;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding:0;
    margin:0;
} */

.totalsBox {
    display: flex;
}

.totals {
    width: 100%;
    max-width: 350px;
    border: 1px solid #c9d3dd;
    border-radius: 10px 0 10px 10px;
    background-color: #f0fff1;
    box-shadow: 5px 5px 10px #e2e2e2;
    margin: 0;
}

.totalsHdr {
    font-family: 'Satisfy', Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 30px;
    color: #59daaa;
    text-shadow: 2px 1px 3px #e8e8e8;
    /* text-transform: uppercase; */
    padding: 10px 0 0 18px;
    margin:0px;
}

.totalHdrYr{
    font-size: 28px;
}

.totalsListContainer {
    display: flex;
    max-width: 340px;
    padding: 1px 3px 15px 15px;
}

    .totalsList {
        width: 95%;
    }

    .totalsEdit {
        width: 30px;
        margin: -3px 0 0 6px;
    }

    .totalsEditBtn {
        margin: 0;
    }

    .totalsList {
        text-align: right;
    }

.totalBudget {
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-size: 21px;
        line-height: normal;
        font-weight: 500;
        letter-spacing: -0.4px;
        color: #798da3;
        padding-bottom: 7px;
        margin: 0 0 10px;
    }

    .totalAmount {
        font-family: 'Barlow Semi Condensed', 'Arial Narrow', Arial, Helvetica, sans-serif;
        font-size: 23px;
        line-height: normal;
        font-weight: 600;
        color: #798da3;
        padding-bottom: 7px;
        margin: 0;
    }

.totalPending {
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: normal;
        font-weight: 400;
        color: #798da3;
        padding-bottom: 7px;
        margin: 0 0 10px;
    }

    .pendingAmount {
        font-family: 'Barlow Semi Condensed', 'Arial Narrow', Arial, Helvetica, sans-serif;
        font-size: 19px;
        line-height: normal;
        font-weight: 500;
        color: #798da3;
        padding-bottom: 7px;
        margin: 0;
    }

.totalPaid {
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: normal;
        font-weight: 400;
        color: #798da3;
        padding-bottom: 7px;
        margin: 0 0 10px;
    }

    .paidAmount {
        font-family: 'Barlow Semi Condensed', 'Arial Narrow', Arial, Helvetica, sans-serif;
        font-size: 19px;
        line-height: normal;
        font-weight: 500;
        color: #798da3;
        border-bottom: 1px solid #798da3;
        padding-bottom: 7px;
        margin-bottom: 3px;
    }

.totalRemaining {
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: normal;
        font-weight: 400;
        color: #798da3;
        padding-top: 3px;
        padding-bottom: 0;
        margin: 0;
    }

    .remainingAmount {
        font-family: 'Barlow Semi Condensed', 'Arial Narrow', Arial, Helvetica, sans-serif;
        font-size: 19px;
        line-height: normal;
        font-weight: 500;
        color: #798da3;
        padding-top: 3px;
        padding-bottom: 0;
        margin: 0;
    }

    /* .totalsEditBtn {
        background-color: transparent;
        border: none;
        font-size: 19px;
        color: #c9d3dd;
        width: 24px;
        height: 30px;
        padding: 0;
        margin: 0;
    }

    .totalsEditBtn:hover {
        background-color: transparent;
        color: #798da3;
    }  */


/* Form Styling */
.cancelBtn{
    background-color: #5cbfed;
    border: 1px solid #cdf5de;
    border-radius: 50%;
    height:28px;
    width: 28px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    line-height: normal;
    color: #FFF;
    /* color: #3863a0; */
    box-shadow: 1px 2px 8px #cfcfcf;
    padding: 0 1px 0 0;
    margin: 5px 24px 5px auto;
}
    .cancelBtn:hover {
        background-color: #61e5b4;
    }


/* Progress Bar */
.progressBar {
    width: 100%;
    height: 30px;
    margin: 20px 20px;
}
