@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Satisfy&display=swap');

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
}

.leftColumn {
 width: 60%;
}

.rightColumn {
    width: 40%;
}

/* Add Budget */
.startBudget {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}