@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Satisfy&display=swap');

.billsContainer {
    width: 100%;
}

.billHdr {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 40px;
}

.h2, h2 {
    color: #798da3;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding:0;
    margin:0;
}

.addBillBtn {
    background-color: #61e5b4;
    border: 1px solid #cdf5de;
    border-radius: 50%;
    height:28px;
    width: 28px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: normal;
    color: #FFF;
    /* color: #3863a0; */
    box-shadow: 1px 2px 8px #cfcfcf;
    padding: 0;
    margin-left: 20px;
}
    .addBillBtn:hover {
        background-color: #5cbfed;
    }

.bills {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 10px;
    width: 100%;
}

.billCard {
    border: 1px solid #c9d3dd;
    background-color: #FFF;
    border-radius: 10px 0px 10px 10px;
    width: 48%;
}

.billsListContainer {
    display: flex;
    justify-content: flex-start;
    /* align-content: flex-start; */
}

    .billList-leftColumn {
        text-align: left;
        margin-left: 10px;
        margin-top: 8px;
    }

    .billList-rightColumn {
        align-self: flex-start;
        min-width: 50px;
        text-align: right;
        margin: 5px 5px 10px auto;
    }
    .billList-bottomHalf {
        margin: 5px 10px 10px 8px;
    }

    .billName {
        font-family: 'Satisfy', Georgia, 'Times New Roman', Times, serif;
        font-size: 24px;
        line-height: normal;
        font-weight: normal;
        font-kerning: normal;
        letter-spacing: normal;
        color: #798da3;
        margin-top: 0;
        margin-bottom: 1px;
    }

    .billAmount {
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-size: 20px;
        line-height: normal;
        font-weight: 600;
        color: #798da3;
        margin-top: 0;
        margin-bottom: 3px;
    }

    .billDateText {
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-size: 12px;
        line-height: normal;
        font-weight: 500;
        color: #798da3;
        margin-top: 0;
        margin-bottom: 5px;
    }

    .billDate {
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: normal;
        font-weight: 600;
        text-transform: uppercase;
        white-space: nowrap;
        color: #798da3;
        margin-top: 0;
    }

    .billDetails {
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        color: #798da3;
        margin-top: 0;
    }

    .detailsText {
        font-family: 'Barlow Semi Condensed', 'Arial Narrow', Arial, Helvetica, sans-serif;
        font-size: 12px;
        line-height: normal;
        font-weight: 400;
        text-align: left;
        color: #798da3;
        background-color: transparent;
        border: none;
        text-decoration: none;
        height: 15px;
        width: 100px;
        padding: 0;
        margin: 0 0 5px;
    }

    .detailsText:hover {
        color: #798da3;
        background-color: transparent;
        text-decoration: underline;
    }

    .detailsArrow {
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-size: 11px;
        line-height: normal;
        font-weight: normal;
        text-align: left;
        color: #798da3;
    }

    .billType {
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-size: 11px;
        line-height: normal;
        font-weight: 500;
        color: #798da3;
        margin-top: 0;
    }

    .billTypeName {
        font-family: 'Barlow Semi Condensed', 'Arial Narrow', Arial, Helvetica, sans-serif;
        font-size: 13px;
        line-height: normal;
        font-weight: 600;
        text-transform: uppercase;
        color: #798da3;
        margin-top: 0;
    }

    .billMemo {
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-size: 11px;
        line-height: normal;
        font-weight: 500;
        color: #798da3;
        /* border-top: 1px dotted #c9d3dd;border-left: 1px dotted #c9d3dd;border-right: 1px dotted #c9d3dd;
        border-radius: 3px; */
        /* padding: 5px 10px 5px 5px; */
        margin: 0 0 3px 0;
    }

    .billMemoText {
        font-family: 'Barlow Semi Condensed', 'Arial Narrow', Arial, Helvetica, sans-serif;
        font-size: 13px;
        line-height: normal;
        font-weight: 400;
        color: #798da3;
        margin-top: 0;
        margin-right: 5px;
    }

    .billMemoBorder {
        border: 1px dotted #c9d3dd;
        border-radius: 3px;
        height: 50px;
        overflow: hidden;
        padding: 5px 5px 5px 5px;
        margin-top:0;
        margin-bottom: 15px;
    }

    .billMemoBorder:hover {
        overflow-y: scroll;
    }

    .billEdit, .billDel {
        background-color: transparent;
        border: none;
        font-size: 19px;
        color: #c9d3dd;
        width: 24px;
        height: 30px;
        padding: 0;
        margin: 0;
    }

    .billEdit:hover, .billDel:hover {
        background-color: transparent;
        color: #798da3;
    } 

    .billEditDel {
        text-align: right;
        margin-top: auto;
        margin-bottom:10px;
    }

    .checkedBillBox {
        align-self: flex-start;
    }

    .checkedBillLabel {
        font-family: 'Barlow Semi Condensed', 'Arial Narrow', Arial, Helvetica, sans-serif;
        font-size: 12px;
        line-height: normal;
        font-weight: 400;
        text-align: center;
        color: #798da3;
        margin-top: 0;
        padding-right: 7px;
    }

    input[type=checkbox] {
        /* Double-sized Checkboxes */
        -ms-transform: scale(1.692); /* IE */
        -moz-transform: scale(1.692); /* FF */
        -webkit-transform: scale(1.692); /* Safari and Chrome */
        -o-transform: scale(1.692); /* Opera */
        transform: scale(1.692);
        background-color: #FFF;
        /* outline: 1px solid red; */
        padding: 20px;
        margin:0 10px 0 0;
    }

    input[type=checkbox]:hover {
        color: blue;
        background-color: blue;
    }

  .checkedBillBox-completed input[type=checkbox]  {
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.2); /* IE */
    -moz-transform: scale(1.2); /* FF */
    -webkit-transform: scale(1.2); /* Safari and Chrome */
    -o-transform: scale(1.2); /* Opera */
    transform: scale(1.2);
    padding: 20px;
    margin:0;
  }
