@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Satisfy&display=swap');

/* Top Nav Bar */
.hdrNavBar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    vertical-align: middle;
    background-color: #3863a0;
    height: 60px;
    width: 94.6%;
    margin: 0 auto 40px;
    padding: 0 24px;
}

.hdrTitleDiv {
    /* flex-basis: 30%; */
    /* flex-grow: 2;
    flex-shrink: 1; */
    width: 25%;
    align-self: center;
    padding: 2px 5px 0px 0px;
    margin: auto;
}

.hdrTitle {
    font-family: 'Satisfy', Georgia, 'Times New Roman', Times, serif;
    color: #FFF;
    font-size: 28px;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
}

.hdrTitle:hover {
    color: white;
    text-decoration: none;
}

.hamburgerMenuIcon {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    text-decoration: none;
    font-size: 24px;
}

.hamburgerMenuIcon:hover {
    color: #FFF;
}

.menuIconDiv{
    width: 22px;
    /* flex-basis: 10%; */
}

.menuIcon {
    width: 30px;
    height: 30x;
    margin: 0;
}


/* Logout Button */
.logoutBtnDiv {
    width: 76px;
    margin: auto 0px auto 0px;
}

.logoutBtn {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 26px;
    width: 74px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 2px;
    padding: 2px 5px;
    margin: 0;
}

.logoutBtn:hover {
    color: #3863a0;
    background-color: #fff;
    font-weight: bold;
}

/* Main Nav */

nav {
    background-color: #edf0f4;
}

.navBar {
    background-color: #edf0f4;
    border-top: 1px solid #fff;
    height: 53px;
    width: 100%;
    margin: 0px 0px 20px;
}

.navList {
    background-color: #edf0f4;
    width: 95%;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    vertical-align: middle;
    padding: 4px 24px 4px 26px;
}

.navItem {
    flex-basis: auto;
    margin: 2px auto 0px;
    padding: 0;
}

.navBtn {
    flex-basis: 120px;
    margin: 8px 0 0px;
    padding: 0;
}

.navItem-search{
    /* flex-basis: 50%; */
    min-width: 204px;
    margin: 3px 0 0;
    padding: 0;
}

.navLink {
    font-family: 'Barlow Semi Condensed', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #3863a0;
    padding: 5px 5px 6px;
}

.navLink:hover {
    color: #fff;
    background-color: #5cbfed;
    border-radius: 2px;
}


.searchIcon {
    width: 24px;
    height: 24px;
    margin-bottom: 0px;
    vertical-align: middle;
}

.searchBox {
    height: 34px;
    width: 200px;
    color: #c9d3dd;
    background-color: #fff;
    border: 2px solid #c9d3dd; 
    border-radius: 20px;
    padding: 0px 0px;
    margin-top: 4px;
}

.searchInput {
    height: 32px;
    width: 166px;
    border: none;
    border-radius: 16px;
    background-color: #fff;
    margin: auto;
}


/* Add Budget */
.startBudget {
    /* background-color: #eef1f5; */
    /* display: flex;
    justify-content: flex-start;
    padding: 10px 0px;
    margin: 10px 0px 15px; */
}

.startBudgetList {
    background-color: transparent;
    width: 130px;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

    .addBudgetBtn {
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 600;
        height: 28px;
        width: 140px;
        color: #FFF;
        border-color: #5cbfed;
        background-color: #5cbfed;
        border-radius: 2px;
        /* box-shadow: 1px 2px 8px #d4d4d4; */
        padding: 1px 5px 0px;
        margin: 0;
    }

    .addBudgetBtn:hover{
        color: #3863a0;
        background-color: #61e5b4;
        border: 1px solid #8fec9b;
        /* box-shadow: 1px 2px 8px #d4d4d4; */
        padding-bottom: 2px;
    }